{{- $num := .Get "num" -}}

<div class="exercise" id="exercise{{ $num }}">
    <div class="exercisetitlebar" onclick='exerciseClick("{{ $num }}")'>
        <h5 class="exercisetitle">Tehtävä {{ $num }}</h5>
        <span>+</span>
    </div>
    <div class="exercise-hidden">
        {{ .Inner }}
</div>
</div>
