<div id="settings">
    {{ .Inner }}
    <p class="non-mobile">
    <span>Sivuston oma kursori:</span>
    <label class="switch" id="cursortoggler">
        <input type="checkbox" id="cursortogglecheck" onclick="cursorToggle()">
        <span class="slider round"></span>
    </label>
    </p>

    <p class="">
    <span>Tumma teema:</span>
    <label class="switch" id="darkthemetoggler">
        <input type="checkbox" id="darkthemetogglecheck" onclick="toggleTheme('dark')">
        <span class="slider round"></span>
    </label>
    </p>
</div>
