:root {
    --yellow: rgb(255, 210, 88);
    --red-less-saturation: rgb(255, 93, 114);
    /*--red: rgb(255, 60, 86);*/
    --red: rgb(255, 67, 91);
    --navbar-bg-color: var(--red);
    --violet: rgb(108, 67, 173);
    --navbar-border: 1px solid white;
    --dropdown-bar-color: white;
    --dropdown-link-color: black;
    --dropdown-link-bg: white;
    --content-bg-color: rgb(255, 218, 131);
    --content-border: 22px solid var(--content-bg-color);
    --body-bg: white;
    --text-color: black;
    --dropdown-link-hover-bg: var(--yellow);
    --slider-bg-on: #FF9758;
    --slider-bg-off: #ccc;
    --h1-font-weight: 800;

    /* content */
    --content-border-image: url("/images/yellowflowers-lr.png");
    --link-color: #5727ac;
    --link-hover-color: #7042c1;
    --header-bg-image: url(/images/bears.gif);
    --heading-color: var(--violet);

    /* code blocks */
    --code-block-bg: rgb(255, 190, 105);
    --code-block-shadow: 3px 3px 3px 0px rgb(255, 145, 79);
    --inline-code-bg: rgb(252,192,85);


    --kukka-filter: none;
    --kissa1-color: rgb(27, 63, 128);
    --kissa2-color: rgb(113, 63, 21);
    --kissa3-color: rgb(61, 61, 61);
}
[data-theme='dark'] {
    --bg-1: #141414;
    --bg-2: #222222;
    --bg-3: #282828;
    --alternate-bg: #2c2c2c;
    --yellow: rgb(255, 236, 147);
    --light-blue: #b1c1ff;
    --violet: rgb(236, 131, 220);
    --huom-bg: transparent;
    --slider-bg-on: #FF9758;
    --slider-bg-off: #cccc88;
    --prev-next-button-bg: #444;
    --prev-next-button-color: white;
    --prev-next-button-border-color: var(--prev-next-button-bg);
    --frontpage-link-bg: #ffffff10;
    --header-bg-image: none;
    --heading-color: white;
    --selection-color: black;
    --selection-bg: rgb(255, 160, 213);
    --code-block-selection-color: black;
    --code-block-selection-bg: rgb(241, 173, 255);
    --dropdown-bar-color: #aaa;
    --dropdown-bar-hover-color: var(--violet);

    /* general */
    --body-bg: #141414;
    --text-color: white;

    /* content */
    --content-bg-color: transparent;
    --content-border: 0px;
    --content-border-image: none;
    --h1-bg: transparent;
    --h1-font-weight: 400;
    --link-color: var(--light-blue);
    --link-hover-color: #dce3ff;
    --list-link-color: var(--link-color);
    --list-marker-color: var(--violet);

    /* navbar */
    --navbar-bg-color: var(--bg-3);
    --navbar-bg-image: none;
    --navbar-border: 1px solid #00000099;

    /* dropdown */
    --dropdown-link-bg: #222222;
    --dropdown-link-color: white;
    --dropdown-link-hover-bg: rgb(55, 55, 55);

    /* code blocks */
    --code-block-bg: #2a2a2a;
    --code-block-shadow: none;
    --print-block-bg: #222222;
    --inline-code-bg: #5e2865;

    /* exercises */
    --exercise-bg: #212121;
    --exercise-titlebar-bg: #323232;
    --exercise-code-block-bg: #303030;
    --solution-titlebar-bg: #323232;
    --solution-show-button-bg: #a92d5c;


    --kukka-filter: brightness(0.65) saturate(120%) hue-rotate(-20deg);
    --kissa1-color: rgb(148, 184, 248);
    --kissa2-color: rgb(222, 150, 91);
    --kissa3-color: rgb(187, 187, 187);

}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.sipu.li/Karla.ttf) format('truetype');
}
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.sipu.li/Rowdies.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.sipu.li/Ubuntu Mono.ttf") format('truetype');
}
html {
    overflow-x: hidden;
    min-height: 100vh;
    color: var(--text-color);
}
body {
    background-color: var(--body-bg);
    margin: 0px;
    font-family: 'Karla', sans-serif;
}
h1 {
    color: white;
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: 37px;
    padding: 0px;
    margin: 0px auto;
    padding: 9px 0px;
    width: 200px;
    text-decoration: underline 1.5px wavy var(--yellow);
    font-weight: var(--h1-font-weight);
}
h2, h3, h4 {
    font-weight: 400;
    color: var(--heading-color);
    font-family: 'Karla', sans-serif;
}
h2 {
    font-size: 29px;
    text-decoration: underline 2px dashed var(--red);
}
h3 {
    font-size: 25px;
}
#content a {
    color: var(--link-color);
}
#content a:hover {
    color: var(--link-hover-color);
}
.kukka {
    height: 100%;
    top: 3%;
    position: relative;
    background-size: 70px;
    background-position-x: center;
    background-position-y: 1px;
    background-repeat: no-repeat;
}
.kukka h1 {
    z-index: 4;
    position: relative;
}
.kukka:before {
    position: absolute;
    top: 0;
    background-image: url(/images/redflower.png);
    content: "";
    display: block;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: 70px;
    background-position: 50% 1px;
    background-repeat: no-repeat;
    filter: var(--kukka-filter);
}
.header.kukka a:link, .header.kukka a:visited, .header.kukka a:active {
    text-decoration: none;
}
p, li {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}
li {
    padding: 3px 10px;
}
nav {
    height: 75px;
    width: 100%;
    border-bottom: var(--navbar-border);
    background-color: var(--navbar-bg-color);
    position: relative;
    display: flex;
    align-items: center;
}
#navbar > * {
    flex: 1;
    box-sizing: border-box;
}
.menu-button-container {
    cursor: pointer;
    padding: 0 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.bar {
    width: 32px;
    height: 6px;
    background-color: var(--dropdown-bar-color);
    border-radius: 2px;
    transition: background-color 0.3s;
}
#content {
    width: 82%;
    max-width: 1050px;
    margin: auto;
    padding: 20px;
    background-color: var(--content-bg-color);
    border-left: var(--content-border);
    border-right: var(--content-border);
    border-image: var(--content-border-image);
    border-image-slice: 48 36 10 36;
    border-image-width: 25px;
    border-image-outset: 24px;
    border-image-repeat: repeat;
}
@media only screen and (max-width: 1000px) {
    #content {
        padding: 5px;
    }
    .menu-button-container {
        padding: 0 20px;
    }
    ul {
        padding-left: 25px;
    }
    pre > code, pre > samp {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
code, samp {
    background-color: var(--inline-code-bg);
    padding: 1px 5px 1px 6px;
    border-radius: 4px;
    font-family: 'Ubuntu Mono', monospace;
}
pre > code, pre > samp {
    /*width: 80%;
    min-width: 730px;*/
    width: 96%;
    max-width: 928px;
    margin: 10px 0px;
    padding: 13px;
    background-color: var(--code-block-bg);
    display: block;
    box-shadow: var(--code-block-shadow);
    border-radius: 10px;
    font-size: 17px;
    overflow-x: auto;
}
pre > code::selection, pre > samp::selection {
    background-color: var(--yellow);
    color: rgb(218, 38, 59);
}
::selection {
    background-color: var(--red-less-saturation);
    color: white;
}

.loader-container {
	width: 25px;
	height: 25px;
	position: absolute;
    z-index: 100;
    pointer-events:none;
}
@keyframes size {
    from {
        width: 100%;
        height: 100%;
    }
    to {
        width: 0%;
        height: 0%;
    }
}
@keyframes down {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(500px);
    }
}
@keyframes downleft {
    from {
      transform: translateY(0px) translateX(0px);
    }
    to {
      transform: translateY(500px) translateX(-100px);
    }
}
@keyframes downright {
    from {
        transform: translateY(0px) translateX(0px);
      }
      to {
        transform: translateY(500px) translateX(100px);
      }
}
.loader {
		border-radius:10px;
		height:100%;
		width: 100%;
        animation-duration: 2s;
        animation-name: down;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        user-select: none;
        pointer-events:none;
}
.loader::after {
            background-image: url(/images/falling-particle.png);
            background-position: center;
            background-size: cover;
			content:'';
			position:absolute;
			height: 80px;
			width:80px;
			left:10px;
			top:10px;
            animation-name: size;
            animation-duration: 2s;
            animation-timing-function: ease-in;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            pointer-events: none;
}
.dropdown {
    position: relative;
    height: 100%;
    z-index: 10;
    width: max-content;
}
.dropdown:hover .bar {
    background-color: var(--yellow);
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 75px;
    left: -7px;
}
.dropdown-content a {
    width: 160px;
    background-color: var(--dropdown-link-bg);
    padding: 10px 20px;
    display: block;
    font-size: 18px;
    color: var(--dropdown-link-color);
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: var(--dropdown-link-hover-bg);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-container {
    height: 100%;
}

#kissataulukko {
    border-collapse: collapse;
    overflow-x: scroll;
    max-width: 100%;
    display: block;
    margin: 1rem 0;
}
#kissataulukko td {
    vertical-align: top;
}
#kissataulukko img {
    width: 180px;
    display: block;
    margin: 5px;
}
#kissataulukko h4 {
    font-weight: 600;
    font-size: 17px;
}
#kissataulukko td:nth-child(1) {
    color: var(--kissa1-color);
}
#kissataulukko td:nth-child(2) {
    color: var(--kissa2-color);
}
#kissataulukko td:nth-child(3) {
    color: var(--kissa3-color);
}
#kissataulukko h4 {
    margin: 13px 0px;
}
#kissataulukko ul, #kissataulukko p {
    margin: 7px 0px;
}
#content > ul a {
    color: var(--violet);
}
#content > ul li::marker {
    color: var(--violet);
}
#header {
    background-image: var(--header-bg-image);
    background-color: inherit;
    background-blend-mode: multiply;
    background-position: 2px 2px;
    width: 100%;
}
#header h2 {
    background-color: inherit;
    width: fit-content;
}
.pageslist li p {
    margin: 7px 0px;
}

#switchdiv-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
#switchdiv-container .switchdiv {
    margin-right: 10px;
}
.switchdiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 24px;
  width: 70px;
}
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--slider-bg-off);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF9758;
  background-color: var(--slider-bg-on);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.falling-particle-img {
    background-image: url(/images/falling-particle.png);
    background-position: center;
    background-size: cover;
    height: 24px;
    width:24px;
}
