<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{ if isset .Params "previous" }}
        <a class="prevnextbutton previous" href="../{{ .Params.previous }}"><-</a>
        {{ end }}
        {{ if isset .Params "next" }}
        <a class="prevnextbutton next" href="../{{ .Params.next }}">-></a>
        {{ end }}
        <div id="content">

        <div id="header"><h2>{{ .Title }}</h2></div>
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
